@import "tailwindcss";

@theme inline {
  --color-background: var(--color-gray-200);
  --color-foreground: var(--color-white);
  --color-primary: var(--color-green-800);
  --color-primary-variant: var(--color-green-600);
  --color-on-primary: var(--color-white);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
