name: Deploy Next.js to cPanel

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install Dependencies
        run: npm install

      - name: Build Next.js App
        run: npm run build:compile
      
      - name: Deploy via Rsync
        uses: Burnett01/rsync-deployments@7.0.1
        with:
          switches: -avzr --delete --exclude='.git*' --exclude='node_modules'
          path: ./
          remote_path: /home/${{ secrets.SERVER_USER }}/smac-app
          remote_host: ${{ secrets.SERVER_IP }}
          remote_port: ${{ secrets.SERVER_PORT }}
          remote_user: ${{ secrets.SERVER_USER }}
          remote_key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Install All Dependencies on Server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          port: ${{ secrets.SERVER_PORT }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            source /home/${{ secrets.SERVER_USER }}/nodevenv/my-app/20/bin/activate
            cd /home/${{ secrets.SERVER_USER }}/smac-app
            npm install

      - name: Run Database Migrations
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          port: ${{ secrets.SERVER_PORT }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            source /home/${{ secrets.SERVER_USER }}/nodevenv/my-app/20/bin/activate
            cd /home/${{ secrets.SERVER_USER }}/smac-app
            npm run db:migrate
